body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  background-color: #f1f1f1a2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #20404f;
  padding: 20px;
  color: #fff;
}

.container {
  margin-left: 4rem;
  margin-right: 40rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#projects{
  margin-left: 4rem;
  margin-right: 40rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem ;
  /* width: 3rem; */
  
}
#activities{
  margin-left: 4rem;
  margin-right: 10rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem ;
  margin-bottom: 5rem;
}
input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#submit {
  width: 50%;
  padding: 10px;
  background-color: #051027;
  color: #fff;
  margin-left: 10rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top:2rem ;
}

#submit:hover {
  background-color: #1f3c7b;
}

ul {
  list-style-type: none;
  padding: 0;
}
.project-list {
  color: #4CAF50;
}

li {
  margin-bottom: 10px;
}
#time{
  padding:1rem ;
 color: #fff;
 
 
}
#date{
   padding: 1rem ;
   color: #fff;
  
}
#firstContainer{
  border: 1px solid #ccc;
  margin-bottom: 2rem;
  background-color: #051027;
}
#departments{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
 li:hover {
  color:  rgb(19, 4, 4);

}
#content{
  height: 100px;  width: 400px;
}
.members{
  border-color: #20404f;
}
#duration{
  display: flex;
  justify-content: space-between;
}
#end{
  margin-right: 45.5rem;
  
}
.reviewContainer{
  margin-left: 4rem;
  margin-right: 40rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 

